<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>beauty</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addproduct</display-name>
    <servlet-name>addproduct</servlet-name>
    <servlet-class>img.Addimage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addproduct</servlet-name>
    <url-pattern>/addproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateproduct</servlet-name>
    <servlet-class>img.update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateproduct</servlet-name>
    <url-pattern>/updateproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addpack</display-name>
    <servlet-name>addpack</servlet-name>
    <servlet-class>img.ADDpack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addpack</servlet-name>
    <url-pattern>/addpack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>updatepack</servlet-name>
    <servlet-class>img.updatepackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatepack</servlet-name>
    <url-pattern>/updatepack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcart</display-name>
    <servlet-name>addcart</servlet-name>
    <servlet-class>img.addcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcart</servlet-name>
    <url-pattern>/addcart</url-pattern>
  </servlet-mapping>
</web-app>